<h1 class="text-center">Bienvenue, veuillez indiquer vos identifiants de connexion</h1>

<div class="m-auto col-8">

    <%= form_tag url_for(action: 'create'), method: "post" do %>

        <%= label_tag 'Veuillez indiquer votre email' %>
        <%= text_field_tag 'email',nil, class: 'form-control' %>
        <br /> <br />

        <%= label_tag 'Mot de passe' %>
        <%= password_field_tag 'password',nil, class: 'form-control' %>
        <br /> <br />

        <%= label_tag 'Remember me' %>
        <%= check_box_tag 'remember', true, true %>
        <br /> <br />

        <%= submit_tag "Valider l'inscription ", class: 'btn btn-primary'%>

    <% end %>
</div>