<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>
<% end %>

<h1 class="text-center">Bienvenue sur le formulaire d'inscription</h1>

<%= form_tag url_for(action: 'create'), method: "post" do %>

    <%= label_tag 'Prénom' %>
    <%= text_field_tag 'first_name', @user.first_name, class: 'form-control' %>
    <br /> <br />

    <%= label_tag 'Nom' %>
    <%= text_field_tag 'last_name', @user.last_name, class: 'form-control' %>
    <br /> <br />

    <%= label_tag 'Age' %>
    <%= text_field_tag 'age', @user.age, class: 'form-control' %>
    <br /> <br />

    <%= label_tag 'Email' %>
    <%= text_field_tag 'email', @user.email, class: 'form-control' %>
    <br /> <br />

    <%= label_tag 'Description' %>
    <%= text_field_tag 'description', @user.description, class: 'form-control' %>
    <br /> <br />

    <%= label_tag 'Ville' %>
    <%=select_tag 'city', options_for_select(@cities.map{ |c| [c.name, c.id] }), class: 'form-control' %>   
    <br /> <br />

    <%= label_tag 'Mot de passe' %>
    <%= password_field_tag 'password', @user.password, class: 'form-control' %>
    <br /> <br />

    <%= label_tag 'Confirmer votre mot de passe' %>
    <%= password_field_tag 'password_confirmation', @user.password_confirmation, class: 'form-control' %>
    <br /> <br />

    <%= label_tag 'Remember me' %>
    <%= check_box_tag 'remember', true, true %>
    <br /> <br />


    <%= submit_tag "Valider l'inscription ", class: 'btn btn-primary'%>

<% end %>