<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p> <span style="font-weight: bold">Age : </span> <%= @user.age %></p>
<p> <span style="font-weight: bold">Email : </span> <%= @user.email %></p>
<p> <span style="font-weight: bold">City : </span> <%= @user.city.name %></p>
<p> <span style="font-weight: bold">Description : </span> <%= @user.description %></p>
<p> <span style="font-weight: bold">User since </span> : <%= @user.created_at %></p>

